/* stylelint-disable font-family-no-missing-generic-family-keyword */
.cart-container-area {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-evenly;
  margin-top: 50px;
}

.cart-products {
  align-items: center;
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 60%;
  overflow: auto;
  overflow-x: hidden;
  padding: 20px;
  width: 45%;
}

.total {
  align-items: center;
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  color: black;
  display: flex;
  flex-direction: column;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 100vh;
  justify-content: center;
  line-height: 20px;
  text-align: center;
  width: 510px;
}

.total button {
  background-color: #31c28d;
  border: none;
  color: white;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: 38.63px;
  line-height: 16px;
  margin-top: 60px;
  padding: 10px;
  text-align: center;
  width: 244.65px;
}

.inc-dec {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: 20px;
  padding: 4px;
  text-align: center;
}

.product-quantity {
  background-color: gray;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.more-less {
  width: 30px;
}

.cart-card {
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.cart-card hr {
  border: 1px solid #94979d;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.cart-card-info {
  align-items: center;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  padding: 8px;
  width: 100%;
}

.card-info-delete {
  cursor: pointer;
  font-size: 19px;
  padding: 10px;
}

.cart-card-info img {
  margin: 5px;
  width: 100px;
}

.ul-cart {
  padding-left: 0;
}

.cart-products::-webkit-scrollbar {
  height: 0.1em;
  width: 0.1em;
}

.cart-products::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

.img-title {
  align-items: center;
  display: flex;
}


@media ( max-width : 915px ) {

  .cart-products {
    margin-top: 70px;
    width: 65%;
  }

  .cart-card {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

  .cart-card-info img {
    margin: 5px;
    width: 70px;
  }

  .cart-card-info {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    width: 40%;
  }

  .product-title {
    font-size: 11px;
    text-align: center;
  }

  .img-title {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .total {
    height: 50%;
    width: 100%;
  }
}

@media ( max-width : 707px ) {

  .cart-products {
    margin-top: 0;
    width: 95%;
  }

  .total {
    bottom: 0;
    font-size: 15px;
    font-weight: 700;
    height: 27.5%;
    line-height: 10px;
    position: fixed;
    width: 100%;
  }

  .total button {
    font-size: 14px;
    line-height: 16px;
    margin-top: 30px;
    width: 220.65px;
  }
}

@media ( max-width : 668px ) {

  .total-price-value {
    padding-top: 20px;
  }

  .total button {
    font-size: 12px;
    height: 30px;
    margin: 4px;
    width: 200.65px;
  }
}
