.checkout-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buy-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 70%;
  margin-top: 100px;
}

.buy-form button {
  width: 35%;
  height: 38.63px;
  margin-top: 20px;
  background: #31c28d;
  border: none;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.payment-inputs {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.payment-inputs input:nth-child(1) {
  border: 1px solid #94979d;
  width: 49%;
  margin: 1px;
}
.payment-inputs input:nth-child(2) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 49%;
}
.payment-inputs input:nth-child(3) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 49%;
}
.payment-inputs input:nth-child(4) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 49%;
}
.payment-inputs input:nth-child(5) {
  border: 1px solid #94979d;
  width: 19%;
  margin: 1px;
}
.payment-inputs input:nth-child(6) {
  border: 1px solid #94979d;
  width: 79%;
  margin: 1px;
}
.payment-inputs input:nth-child(7) {
  border: 1px solid #94979d;
  width: 79%;
  margin: 1px;
}
.payment-inputs input:nth-child(8) {
  border: 1px solid #94979d;
  width: 19%;
  margin: 1px;
}
.payment-inputs input:nth-child(9) {
  border: 1px solid #94979d;
  width: 79%;
  margin: 1px;
}

.payment-method {
  width: 80%;
  text-align: center;
}

.payment-method i {
  font-size: 50px;
  padding: 0px 15px;
  font-size: 40px;
  margin: 5px;
}

.payment-method input {
  margin: 5px;
  background-color: blue;
}

.boleto {
  margin-bottom: 20px;
}

.card-methods {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.card {
  position: static;
}
.select-area {
  width: 19%;
  margin: 1px;
  border: 1px solid #94979d;
}

@media (max-width: 900px) {
  .buy-form {
    margin-top: 100px;
  }
}
@media (max-width: 660px) {
  .buy-form {
    margin-top: 200px;
  }
}

@media (max-width: 600px) {
  .buy-form {
    margin-top: 275px;
  }
}

@media (max-width: 415px) {
  .buy-form {
    margin-top: 500px;
    width: 80%;
  }
  .payment-inputs input:nth-child(1) {
    width: 100%;
  }
  .payment-inputs input:nth-child(2) {
    width: 100%;
  }
  .payment-inputs input:nth-child(3) {
    width: 100%;
  }
  .payment-inputs input:nth-child(4) {
    width: 100%;
  }
  .payment-inputs input:nth-child(5) {
    width: 100%;
  }
  .payment-inputs input:nth-child(6) {
    width: 100%;
  }
  .payment-inputs input:nth-child(7) {
    width: 100%;
  }
  .payment-inputs input:nth-child(8) {
    width: 100%;
  }
  .payment-inputs input:nth-child(9) {
    width: 100%;
  }
  .select-area {
    width: 100%;
  }
}
