/* stylelint-disable no-descending-specificity */

/* stylelint-disable font-family-no-missing-generic-family-keyword */
.checkout-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.buy-form {
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  padding: 20px;
  width: 70%;
}

.buy-form button {
  background: #31c28d;
  border: none;
  color: white;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 38.63px;
  line-height: 16px;
  margin-top: 20px;
  width: 35%;
}

.payment-inputs {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.payment-inputs input:nth-child( 1 ) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 49%;
}

.payment-inputs input:nth-child( 2 ) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 49%;
}

.payment-inputs input:nth-child( 3 ) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 49%;
}

.payment-inputs input:nth-child( 4 ) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 49%;
}

.payment-inputs input:nth-child( 5 ) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 19%;
}

.payment-inputs input:nth-child( 6 ) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 79%;
}

.payment-inputs input:nth-child( 7 ) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 79%;
}

.payment-inputs input:nth-child( 8 ) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 19%;
}

.payment-inputs input:nth-child( 9 ) {
  border: 1px solid #94979d;
  margin: 1px;
  width: 79%;
}

.payment-method {
  text-align: center;
  width: 80%;
}

.payment-method i {
  font-size: 40px;
  margin: 5px;
  padding: 0 15px;
}

.payment-method input {
  background-color: blue;
  margin: 5px;
}

.boleto {
  margin-bottom: 20px;
}

.card-methods {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  position: static;
}

.select-area {
  border: 1px solid #94979d;
  margin: 1px;
  width: 19%;
}

@media ( max-width : 900px ) {

  .buy-form {
    margin-top: 100px;
  }
}

@media ( max-width : 660px ) {

  .buy-form {
    margin-top: 200px;
  }
}

@media ( max-width : 600px ) {

  .buy-form {
    margin-top: 275px;
  }
}

@media ( max-width : 415px ) {

  .buy-form {
    margin-top: 500px;
    width: 80%;
  }

  .payment-inputs input:nth-child( 1 ) {
    width: 100%;
  }

  .payment-inputs input:nth-child( 2 ) {
    width: 100%;
  }

  .payment-inputs input:nth-child( 3 ) {
    width: 100%;
  }

  .payment-inputs input:nth-child( 4 ) {
    width: 100%;
  }

  .payment-inputs input:nth-child( 5 ) {
    width: 100%;
  }

  .payment-inputs input:nth-child( 6 ) {
    width: 100%;
  }

  .payment-inputs input:nth-child( 7 ) {
    width: 100%;
  }

  .payment-inputs input:nth-child( 8 ) {
    width: 100%;
  }

  .payment-inputs input:nth-child( 9 ) {
    width: 100%;
  }

  .select-area {
    width: 100%;
  }
}
