/* stylelint-disable declaration-block-no-redundant-longhand-properties */

/* stylelint-disable font-family-no-missing-generic-family-keyword */
.product-datails-container {
  margin-top: 78px;
  padding-top: 40px;
}

.a {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.product-title-area {
  align-items: center;
  align-self: start;
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  padding: 30px;
  text-align: center;
  width: 35%;
}

.product-title-area img {
  width: 80%;
}

.product-title-area p {
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.btn-details-price-area {
  background: white;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 50px;
  width: 509px;
}

.btn-details-price-area p {
  color: #94979d;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.button-price {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.button-price span {
  color: #444955;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}

.free-shipping {
  margin-top: 10px;
}

@media ( max-width : 805.98px ) {

  .product-title-area img {
    width: 100%;
  }

  .product-title-area {
    width: 80%;
  }
}
