.product-datails-container {
    margin-top: 78px;
    padding-top: 40px;
}

.a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
    
}

.product-title-area {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-self: start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    padding: 30px;
    width: 35%;
    height: 80%;
}
.product-title-area img{
   width: 80%;
}

.product-title-area p {
    font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
 }

.btn-details-price-area {
    background: #FFFFFF;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 509px;
}

.btn-details-price-area p {
    font-family: 'Epilogue';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #94979D;
}

.button-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.button-price span {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #444955;
}
.free-shipping {
    margin-top: 10px;
}
@media (max-width: 805.98px) {
    .product-title-area img{
       width: 100%;
     }
     .product-title-area {
        width: 80%;
     }
}