/* stylelint-disable declaration-block-no-duplicate-properties */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.cart-btn {
  color: azure;
  font-size: 30px;
}

.categories-icon {
  color: white;
  float: left;
  font-size: 30px;
}

.header-search {
  margin-bottom: 10px;
  margin-top: 20px;
}

.brand {
  padding: 5px;
  width: 51%;
}

.offcanvas {
  max-width: 80%;
}

.container-fluid {
  background-color: #003be5;
  padding-bottom: 5px;
  padding-top: 5px;
}

.sand-btn {
  background-color: aliceblue;
}

.hide-sand-btn {
  display: none;
}

.navbar-toggler-icon {
  height: 20px;
  width: 15px;
}

.cart-count {
  background-color: #2fc18c;
  border-radius: 50%;
  bottom: 23px;
  color: black;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  position: relative;
  right: 20px;
  text-align: center;
  width: 30px;
}

.cart-link {
  text-decoration: none;
}

.navbar-toggler {
  margin-right: 5px;
}

.cont {
  align-items: center;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: center;
  padding-top: 0;
}

.hide-categories {
  display: none;
}

.offcanvas-header {
  background-color: #003be5;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: black;
  display: flex;
  padding: 10px;
  padding: 20px;
}

.offcanvas-title {
  color: white;
  text-align: center;
  width: 100%;
}

/* sm applies to x-small devices portrait phones, less than 576px */

/* `md` applies to small devices (landscape phones, less than 768px) */

@media ( max-width : 733px ) {

  .search-area {
    width: 140px;
  }
}

@media ( max-width : 640px ) {

  .search-area {
    width: 100%;
  }
}

/* `lg` applies to medium devices (tablets, less than 992px) */

@media ( min-width : 900px ) {

  .search-area {
    width: 380px;
  }
}

/* `xl` applies to large devices (desktops, less than 1200px) */

@media ( min-width : 1220px ) {

  .search-area {
    width: 700px;
  }
}
