.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 0;
  width: 100%;
  position: fixed;
  top: 0;
}

.cart-btn {
  color: azure;
  font-size: 30px;
}

.categories-icon {
  color: white;
  font-size: 30px;
  float: left;
}
.header-search {
  margin-top: 20px;
  margin-bottom: 10px;
}
.brand {
  width: 51%;
  padding: 5px;
}

.offcanvas {
  max-width: 80%;
}

.container-fluid {
  background-color: #003be5;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sand-btn {
  background-color: aliceblue;
}
.hide-sand-btn {
  display: none;
}
.navbar-toggler-icon {
  width: 15px;
  height: 20px;
}

.cart-count {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: black;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  background-color: #2fc18c;
  position: relative;
  bottom: 23px;
  right: 20px;
}

.cart-link {
  text-decoration: none;
}

.navbar-toggler {
  margin-right: 5px;
}

.cont {
  display: flex;
  align-items: center;
}

.navbar {
  padding-top: 0;
}

.hide-categories {
  display: none;
}

.offcanvas-header {
  background-color: #2fc18c;
  color: black;
  padding: 10px;
  display: flex;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.offcanvas-title {
  text-align: center;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
}

/* sm applies to x-small devices portrait phones, less than 576px */
@media (min-width: 575.98px) {
}

/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (min-width: 767.98px) {
}

/* `lg` applies to medium devices (tablets, less than 992px)*/
@media (min-width: 850px) {
  .search-area {
    width: 380px;
  }
}

/* `xl` applies to large devices (desktops, less than 1200px)*/
@media (min-width: 1199.98px) {
  .search-area {
    width: 700px;
  }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
}
